<br>
<div class="container">
  <button class="btn-primary" *ngIf="mode=='single'" (click)="mode='list'">Back To My Properties</button><br><br>
  <app-updateproperty [property]="selectedProperty" *ngIf="mode=='single' && selectedProperty"></app-updateproperty>
</div>
<div class="container">
  <!-- <h5 *ngIf = "deleteMessage"><b>Your property has been removed!</b></h5> -->
  <div class="row">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button *ngIf="mode == 'list'" class="btn btn-dark" id="dropdownBasic1" ngbDropdownToggle>Sort by Price</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button (click)="getOrdered('desc')" ngbDropdownItem>High to low</button>
          <button (click)="getOrdered('asc')" ngbDropdownItem>Low to high</button>
        </div>
      </div>
    </div>
    <form *ngIf="mode == 'list'" (ngSubmit)="search(searchForm.value.locality)" #searchForm="ngForm"
      class="form-inline my-2 my-lg-0">
      <input required ngModel name="locality" class="form-control mr-sm-2" type="search" placeholder="Search Locality"
        aria-label="Search">
      <button [disabled]="!searchForm.valid" class="btn btn-dark my-2 my-sm-0" type="submit"><i class="fas fa-search-location"></i>&nbsp;Search</button>
    </form>
  </div>
</div>
<br><br><br>
<div class="container">
  <div *ngIf="mode=='list'">
    <div class="row">
      <div *ngFor="let property of myProperties">
        <div style="margin-bottom:20px; margin-right:0px;">
          <div class="col-lg-4">
            <div class="card" style="width: 14rem;">
              <!-- <img src="..." class="card-img-top" alt="..."> -->
              <div class="card-body">
                <h5 class="card-title">{{property.title}}</h5>
                <p class="card-text">{{ property.description | truncate:[70, '...'] }}</p>
                <p style="color:rgb(10, 12, 181)"> Rs {{property.price}}</p>
                <a style="color:white;" (click) = "update(property)" class="btn btn-primary"><i class="fas fa-edit"></i>&nbsp;Update</a>&nbsp;&nbsp;
                <a style="color:white;" (click)="delete(property)" class="btn btn-primary"><i class="far fa-trash-alt"></i>&nbsp;Delete</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div><br>


