<div class="container">
  <br>
  <form (ngSubmit)="addProperty(addRentalForm)" #addRentalForm="ngForm">
    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-6">
        <h2><b>Add Your Property for Rent</b></h2><br>
        <div class="form-group">
          <label for="title"><b>Title Of Property</b></label>
          <input name="title" ngModel type="text" class="form-control" placeholder="Enter Title" required>
          <small id="emailHelp" class="form-text text-muted">You Must Enter the Title less then 100 letters</small>
        </div>
        <div class="form-group">
          <label for="price"><b>Price</b></label>
          <input name="price" ngModel type="number" class="form-control" placeholder="Enter Price" required>
          <small id="emailHelp" class="form-text text-muted">Enter the price in rupees (5000.00)</small>
        </div>
        <div class="form-group">
          <label for="locality"><b>Locality</b></label>
          <input name="locality" ngModel type="text" class="form-control" placeholder="Enter Locality" required>
          <small id="emailHelp" class="form-text text-muted"></small>
        </div>
        <div class="form-group">
          <label for="description"><b>Description</b></label>
          <input name="description" ngModel type="text" class="form-control" placeholder="Description" required>
        </div><br>
        <div class="form-group">
          <label><b>Add image of your property</b></label>
          <input (change)="selectFile($event)" type="file" class="form-control-file" placeholder="Upload the file">
        </div><br>
        <h3 *ngIf="isPropertyAdded" style = "font-family: fantasy;">Your Property is added successfully</h3>

        <button type="submit" [disabled]="!addRentalForm.valid"
          class="btn btn-primary btn-block"><b>Submit</b></button><br><br>
      </div>
      <div class="col-lg-3"></div>
    </div>
  </form>
</div>
