<div class="row">
  <div class="col">
    <h2>Property Details</h2>
    <br>
    <h4 style="color:orange">{{property.title}}</h4>
    <br>
    <h6 style="color: blue">Property Details:</h6>
    <p>{{property.description}}</p>
  </div>
  <div class="col">
    <h2>Owner's Details</h2>
    <br>
    <p style="color: blue">Owner Name: {{property.ownername}}</p>
    <p style="color: blue">Contact : {{property.ownercontact}}</p>
    <br>
    <h2 style="color: red">Price</h2>
    <h4 style="color:green">Rs {{property.price}} /-</h4>
  </div>
</div>
