<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <span style = "font-size:1.5em;color:white; margin-right:6px;"><i class="fas fa-home"></i></span>
    <a class="navbar-brand" routerLink = "/index">Rental App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item  ">
          <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a routerLink="/allproperties" class="nav-link">All Properties</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/addproperty">Add Property</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <br>
<div *ngIf="mode=='list'">
    <div class="row">
      <div *ngFor="let property of properties">
        <div style="margin-bottom:20px; margin-right:0px;">
            <div class = "col-lg-4">
          <div class="card" style="width: 14rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{property.title}}</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <p style="color:rgb(10, 12, 181)"> Rs {{property.price}}</p>
              <a style = "color:white;"(click)="ViewDetails(property)" class="btn btn-primary">View Details</a>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
<button class="btn-primary" *ngIf="mode=='single'" (click)="mode='list'">Back</button><br>
<app-singleproperty *ngIf="mode=='single'"></app-singleproperty>
