<div class = "container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome!</h1>
    <p class="lead">Rental app allows you to rent your property to the people across the globe.</p>
    <hr class="my-4">
    <p>If you are an existing user, sign-in into your account. Or else, create a free account now!</p>
    <a class="btn btn-primary btn-lg" routerLink = "/auth/signin" role="button" style = "margin-right:130px;color:white;">Sign-In</a>
    <a class="btn btn-primary btn-lg" routerLink = "/auth/signup" role="button" style = "color:white;">Sign-Up</a>
  </div>

</div>
