<div class="container">
  <div class="container">
    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-6">
        <h2>Sign in into your account</h2>
        <br>
        <form (ngSubmit)="signIn(signInForm)" #signInForm="ngForm">
          <div class="form-group">
            <label for="email"><b>Enter email:</b></label>
            <input name="email" ngModel type="email" class="form-control" placeholder="Enter your email:" required>
            <small id="emailHelp" class="form-text text-muted"><b>Enter your registered email account</b></small>
          </div>
          <div class="form-group">
            <label for="password"><b>Password:</b></label>
            <input name="password" ngModel type="password" class="form-control" placeholder="Enter password" required>
            <small id="emailHelp" class="form-text text-muted"></small>
          </div>
          <p>Don't have an account?
            <a routerLink="/auth/signup">Sign-Up</a><br><br>
            <button type="submit" [disabled]="!signInForm.valid"
               class="btn btn-primary btn-block">Submit</button><br>
            <!-- <h5 *ngIf="showError">{{loginError}}</h5> -->
        </form>
      </div>
    </div>
    <div class="col-lg-3"></div>
  </div>

</div>
