<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <span style="font-size:1.5em;color:white; margin-right:6px;"><i class="fas fa-home"></i></span>
  <a class="navbar-brand" routerLink="/index">Rental App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item  ">
        <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a routerLink="/home/allproperties" class="nav-link">All Properties</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/home/addproperty">Add Property</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/home/enquiries">Enquiries</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/home/myproperties">My Properties</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<br>
<h2>&nbsp;&nbsp;&nbsp;Welcome {{user}}!</h2>
<router-outlet></router-outlet>
